#page {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 100px 150px minmax(300px, 1fr) 100px;

}

#left-column,
#right-column {
    grid-row: span 4;

}

#menu-bar {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

#middle-row {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

#secondtolastrow {
    height: 100%;
}